/*
 ©Xiler - Arthurdw
 Xiler is under a CC0-1.0 License (View the license here: https://legal.xiler.net/license)
 By proceeding to this site you agree with our ToS. (View the tos here: https://legal.xiler.net/tos)
*/

:root {
  --text-color: rgb(220, 220, 221);
  --text-color-second: rgb(197, 195, 198);
  --accent-color: rgb(25, 133, 161);
  --accent-color-light: rgb(43, 186, 222);
  --background-color: rgb(70, 73, 76);
  --background-color-darker: rgb(49, 51, 53);
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

#TextContent {
  /* width: calc(100vw - 20px); */
  margin-top: 80px;
  margin-bottom: 60px;
}

#LicenseText {
  /* width: calc(100vw - 160px); */
  max-width: 1000px;
  margin: 0 auto;
  color: var(--text-color);
}

#LicenseText ol li {
  margin: 10px 0;
}

#LicenseText ol li ol li {
  margin: 0;
}

#LicenseText ol li h3,
#LicenseText ol li p {
  margin: 0;
}

#LicenseText ol li a {
  color: var(--accent-color);
  transition: color 0.1s ease-in-out;
}

#LicenseText ol li a:hover {
  color: var(--accent-color-light);
}


#TextContent #LicenseText h1 {
  text-align: center;
}

@media (max-width: 1200px) { 
  #TextContent #LicenseText {
    width: 90% !important;
  }
}
